.wrapper {
    background-color: rgb(255, 255, 104);
    width: 200px;
    height: 200px;
    padding: 10px;
    filter: drop-shadow(0 0 0.25rem black);
}

.buttons {
    width: 180px;
    display: flex;
    flex-direction: row-reverse;
}

.button {
    background-color: transparent;
    border: none;
    color: rgb(90, 90, 90);
}

.button:hover {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
}

.content {
    color: black;
}