.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
}

.header {
  
}

.notesWrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.notes {
  max-width: 75%;
}

.notesArea {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.createNote {
  display: flex;
  flex-direction: column;
  gap: 5px;
}